third_party/gaussian-splatting
third_party/RegGS
third_party/Scaffold-GS
**/experiments/
**/experiments_Scaffold_GS/
Part2_Scripts/InstantSplat_assets/
Part2_Scripts/InstantSplat_logs/
Part2_Scripts/InstantSplat_outputs/


third_party/InstantSplat/data
third_party/InstantSplat/output*
third_party/InstantSplat/assets
third_party/InstantSplat/mast3r/checkpoints
third_party/InstantSplat/submodules

Part2_Scripts/InstantSplat*

